/**
*   Style       : Corvana Style
*   --------------------------- 
*   Fichier     : components/navigation.css
*   Version     : 1.0.0.
*   Auteur(s)   : Dakin Quelia <dakinquelia@gmail.com>
**/
.navigation-curved-wrapper {
    @apply h-screen w-full border-t-[10px] border-solid border-t-white;

    & .container {
        @apply w-[90%] max-w-[900px] m-[0_auto];
    }
}

.navigation-curved {
    @apply flex items-center;

    & .logo {
        @apply hidden relative md:flex items-center text-[30px] w-[400px] max-w-[400px] pl-[20px] top-[5px];
    }

    & .navbar-widget {
        @apply relative w-[calc(100%-300px)] h-[52px];

        &::before,
        &::after {
            @apply content-[''] absolute top-[-2px] h-[20px] w-[32px] bg-(image:--navigation-curved-gradient) bg-[-11px_-7px] bg-(length:--navigation-curved-size);
        }

        &::before {
            @apply left-[-48px];

            transform: rotate(58deg);
        }

        &::after {
            @apply right-[-48px];

            transform: rotate(9deg);
        }

        & .navbar {
            @apply relative flex items-center justify-center w-full h-full pb-[8px];

            &::before {
                @apply top-[-46px] content-[''] absolute w-full h-[calc(100%+100px)] bg-white rounded-(--navigation-border-curved) transform-(--navigation-curved-transform) z-[-1];
            }

            & li {

            }

            & li a {
                @apply py-[8px] px-[16px] text-black hover:text-theme;
            }
        }
    }
}

/**
*   Navigation : breadcrumbs
**/
.breadcrumbs {
    & ul li:first-child a {
        @apply block p-0 bg-[#00000000] clip-path-[none];
    }

    & ul li a {
        @apply relative flex items-center h-[1.733rem] bg-theme/20 text-[1rem] leading-[1] text-theme pt-0 pr-[1.75rem] pb-0 pl-[1.5rem] lowercase z-50 transition-all duration-150 ease-in clip-path-(--polygon-arrow) outline-none; 
    }

    & .breadcrumbs-icon-wrapper {
        @apply relative z-2 outline-none inline-block ;

        &.small {
            & .breadcrumbs-icon {
                @apply w-[2rem] text-[.875rem];
            }  
        }

        & .breadcrumbs-icon {
            @apply relative block bg-theme text-white clip-path-(--polygon-breadcrumbs-icon) w-[5.5rem] text-[2.25rem] transition-all duration-250 ease-in;

            &  > svg {
                @apply block;
            }

            & span[class*="icon-"] {
                @apply absolute top-[50%] left-[50%] font-inherit color-inherit;

                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}